<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93806270104-62r53m53imapfocl1sck8bn4ho910ndh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93806270104-62r53m53imapfocl1sck8bn4ho910ndh</string>
	<key>API_KEY</key>
	<string>AIzaSyCCd0OGpv0fyeNKHDflt42PIiXW09Oz-NA</string>
	<key>GCM_SENDER_ID</key>
	<string>93806270104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usenirvana.nirvana-ios</string>
	<key>PROJECT_ID</key>
	<string>nirvana-ccf04</string>
	<key>STORAGE_BUCKET</key>
	<string>nirvana-ccf04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93806270104:ios:108b36b0d2c42381d0e2ed</string>
</dict>
</plist>